.panel-default>.panel-heading {
background-color: #004d4d;
color:white;
border-color: #004d4d;
}
.c3-region.regionX {
  fill : red;
}

.pre-scrollable{
	    max-height: 490px;
}

.main{
border-bottom: none;
}

.panel-default {
  border-color: #004d4d;
}

